<a
  class="city-marker"
  [routerLink]="locked ? null : ['/cities', city.id]"
  [class.locked]="locked"
  [class.completed]="city.status === 'COMPLETED'"
  [style.left]="markerStyle['left']"
  [style.top]="markerStyle['top']"
  [attr.aria-label]="city.name + ' ' + city.status"
>
  <span class="pin"></span>
  <span class="label">
    {{ city.name }}
    @if (locked) {
      <span class="lock" aria-hidden="true">
        <img src="assets/images/icons/lock-icon.svg" alt="Lock icon">
      </span>
    }
  </span>
</a>
