.activity-form {
  display: grid;
  gap: 1rem;
}

.instructions {
  background: var(--color-white);
  border-radius: 1rem;
}

.prompt {
  padding: 1rem;
  //border-radius: 1rem;
}

.source {
  padding: .5rem 1rem;
  background: var(--color-blue-light);
  font-weight: 600;
  font-style: italic;
}

label {
  display: grid;
  gap: 0.4rem;
  font-weight: 700;
}

input {
  padding: 0.8rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-grey);
}

.submit-button {
  justify-self: start;
  border: 0;
  border-radius: 999px;
  padding: 0.75rem 1.2rem;
  background: var(--color-green);
  color: var(--color-white);
  font-weight: 800;
  cursor: pointer;

  &:hover {
    background: var(--color-green-hover);
  }

  &:disabled {
    opacity: 0.55;
    cursor: not-allowed;
  }
}
